@import "../../../styles/variables.scss";

.searchContainer {
    position: relative;
    top: 1em;
    z-index: 2;
    width: max-content;
    box-shadow: 0px 0px 10px 1px rgb(204, 202, 202);
    background-color: $light-blue;
    display: flex;
    align-items: center;
    padding: 0.3em;
    margin-top: -1.5em;
    border-radius: 0.1em;

}