@font-face {
  font-family: 'FoundersGrotesk-Reg';
  src: url('../public/fonts/FoundersGrotesk-Regular.otf');
}

:root {
  font-family: 'FoundersGrotesk-Reg', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  font-size: 1.2em;
}
