@import "../styles/variables.scss";

.homeWrapper {
    background-color: $light-blue;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 94vh;
}