@import '../../../styles/variables.scss';

.SideBar {
  height: 300px;
  width: 100vw;
  background-color: $light-blue;
  @media screen and (min-width: $locations-breakpoint-1) {
    height: 100%;
    width: 500px;
  }
}
