@import '../../../styles/variables.scss';

.SideBar {
  height: 100%;
  width: 500px;
  background-color: $light-blue;

  .barList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    height: 100vh;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: $purple;
    }

    li {
      margin: 4px;
      // background-color: aqua;
      display: flex;
      gap: 16px;
      .barImage {
        width: 100px;
        height: 100px;
        background-color: $lilac;
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }
      }
      .barInfo {
        .barName {
          // font-weight: 700;
          font-size: 1em;
          color: $dark-purple;
        }
        .barAddress {
          font-size: 0.75em;
        }
      }
    }
  }
}
