@import '../../../styles/variables.scss';

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 80vh;
  min-height: 500px;
  // min-height: fit-content;
  background-color: white;
  box-shadow: 24px;
  border-radius: 1rem;
  overflow: hidden;
  @media screen and (min-width: $locations-breakpoint-1) {
    height: 60vh;
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $locations-breakpoint-1) {
    flex-direction: row;
  }
}

.authContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  justify-content: flex-start;
  align-items: center;
}

.authChange {
  width: 100%;
  height: 6rem;
  margin-top: 2rem;
  background-color: $purple;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.95;
  }
  @media screen and (min-width: $locations-breakpoint-1) {
    width: 40%;
    height: 100%;
    margin-top: 0;
  }

  button {
    padding: 0.5rem;
    cursor: pointer;
    font-family: 'FoundersGrotesk-bold', Inter, Avenir, Helvetica, Arial, sans-serif;
    border: none;
    height: 100%;
    width: 100%;
    background: none;
    color: white;
    font-size: 32px;
  }
}

.authForm {
  width: 100%;
  max-height: 60vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
