@import "../../../styles/variables.scss";


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 60vh;
    min-height: fit-content;
    background-color: white;
    border-radius: 5px;
    box-shadow: 24px;
  };

  .container {
    display: flex;
  }

  .authContainer {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: flex-start;
    align-items: center;
  }

  .authChange {
    width: 40%;
    max-height: 60vh;
    background-color: $purple;
    display: flex;
    flex-direction: column;

    button { 
      font-family: 'FoundersGrotesk-bold', Inter, Avenir, Helvetica, Arial, sans-serif;
      border: none;
      height: 100vh;
      width: 100%;
      background: none;
      color: white;  
      font-size: 32px;
    }
  }

  .authForm {
    width: 100%;
    max-height: 60vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
