.carouselWrapper {
  @media only screen and (max-width: 500px) {
    & > * {
      width: 97vw;
    }
  }
  .carouselImg img {
    height: 50vh;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
  }
}
