@import '../../../styles/variables.scss';

.SelectedBarContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 10;
  background-color: $light-blue;
  overflow-y: scroll;

  // firefox
  scrollbar-color: $purple $light-blue;
  scrollbar-width: thin;

  // all other browsers
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $purple;
  }

  .mainImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .noImage {
    width: 100%;
    height: 200px;
    background-color: $lilac;
    color: $gray-purple;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
  }

  .buttonContainer {
    display: flex;
    justify-content: space-around;
  }

  .infoContainer {
    padding-inline: 0.5rem;
    .barName {
      font-size: 1.25em;
    }
  }
}

.OpeningHours {
  display: flex;
  justify-content: space-between;
  margin-inline: 3rem;
  font-size: 0.8em;
  gap: 1rem;
  margin-bottom: 2rem;
  .dayName {
    color: $dark-purple;
    font-weight: bold;
    font-family: 'FoundersGrotesk-Medium';
  }
  .dayTime {
    color: $purple;
    text-align: left;
    .closed {
      color: #f73911;
    }
  }
}