@import '../../../../styles/variables.scss';

.footerWrapper {
  display: flex;
  align-items: center;
  background-image: url('./img/Footer_Bg.webp');
  background-position: 30% 50%;
  background-color: $purple;
  background-blend-mode: darken;
  font-family: 'FoundersGrotesk-Bold';
  height: 10rem;
  width: 100%;
  padding: 1rem;
  position: relative;
  z-index: 1;
  margin-top: -5.3em;
  color: $light-blue;
  text-align: left;
  .innerContainer {
    display: flex;
    justify-content: space-around;
    h2 {
      font-size: 1.5em;
    }
    p {
      width: 33%;
      font-size: 0.9em;
    }
  }
}
