@import '../../../../styles/variables.scss';

.OpeningHours {
  display: flex;
  justify-content: space-between;
  margin-inline: 3rem;
  font-size: 0.8em;
  gap: 1rem;
  margin-bottom: 2rem;
  .dayName {
    color: $dark-purple;
    font-weight: bold;
    font-family: 'FoundersGrotesk-Medium';
  }
  .dayTime {
    color: $purple;
    text-align: center;
    .closed {
      color: #f73911;
    }
  }
}
